@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  width: 1170px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

header > p {
  width: fit-content;
  padding-inline: 11px;
  font-weight: 700;
}

.cart-count {
  font-weight: 500;
}

.container-main {
  position: relative;
  margin: auto;
  width: 1170px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.left-main {
  min-width: 429px;
  width: 663px;
}

.card {
  padding-inline: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
}

.cart-prod-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.cart-prod-left > h5 {
  font-size: 14px;
  font-weight: 400;
}
.price {
  font-size: 18px;
  font-weight: 700;
  margin-right: 5px;
  margin-bottom: 6px;
}

.old-price {
  font-size: 14px;
  color: #9c9c9c;
  text-decoration: line-through;
}

.saved-amount {
  margin: 0;
  color: #1d8802;
}

.cart-prod-row > img {
  width: 105px;
  border-radius: 5px;
}

.remove-cart {
  width: 35%;
  padding: 18px 0;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #00000080;
  border-right: 1px solid rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.move-to-wishlist {
  width: 65%;
  padding: 18px 0;
  border: none;
  background-color: transparent;
  color: #00000080;
  cursor: pointer;
}

.right-main {
  width: 475px;
  min-width: 360px;
}

.offer1 {
  width: 100%;
  height: 50px;
  background-color: #fdd835;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding-inline: 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid rgb(234, 234, 234);
}

.offer2 {
  width: 100%;
  height: 52px;
  padding: 5px 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid rgb(234, 234, 234);
}

.offer2 > p {
  margin: 0;
}

.coupon {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #42a2411a;
  border-radius: 5px;
}

.coupon > span:first-child {
  color: #42a2a2;
  font-size: 12px;
  font-weight: 500;
}

.coupon > span:last-child {
  color: #42a2a2;
  font-size: 12px;
  font-weight: 700;
}

.summary-box {
  border: 1px solid rgb(234, 234, 234);
}

.top-heading {
  padding: 13px 20px;
  box-sizing: border-box;
  font-size: 11px;
  background-color: #0000000a;
}

.top-heading > h4 {
  margin: 0;
}

.summary-bkdown {
  padding: 16px;
  border-bottom: 1px solid rgb(234, 234, 234);
}

.summary-bkdown > div {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
}

.summary-bkdown > div:last-child {
  font-size: 14px;
  font-weight: 700;
}

.checkout-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
  border: 1px solid rgb(234, 234, 234);
  border-top: none;
}

.checkout-bottom-fixed {
  width: 100%;
  height: 12vh;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  box-sizing: border-box;
  margin: auto;
  min-height: 12vh;
}

.checkout-bottom-fixed > .add-address {
  min-height: 80%;
  font-size: 26px;
}

.total-price > p:first-child {
  font-size: 12px;
  margin: 0;
  margin-bottom: 5px;
}

.total-price > p:last-child {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.add-address {
  font-size: 16px;
  width: 60%;
  background-color: #42a2a2;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 11px;
  cursor: pointer;
}

.address-form-div {
  display: none;
  width: 800px;
  /* height: 90vh; */
  z-index: 2;
  padding: 20px 55px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid black;
  position: absolute;
}

.address-form > input {
  display: block;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  padding: 14px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.state-div {
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.state-div > input {
  margin-bottom: 40px;
  width: 40%;
  padding: 14px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.address-form input::placeholder {
  color: grey;
  font-size: 15px;
  font-weight: 600;
}

.form-btn-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.place-order,
.close-form {
  width: 238px;
  height: 48px;
  font-size: 16px;
  color: white;
  background-color: #42a2a2;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

.close-form {
  background-color: #fff;
  color: #42a2a2;
  border: 1px solid #42a2a2;
}

/* MEDIA QUERIES */

@media (min-width: 801px) and (max-width: 1170px) {
  header {
    width: 100%;
    max-width: 950px;
  }
  .container-main {
    width: 100%;
    max-width: 950px;
  }
}

@media (max-width: 800px) {
  .checkout-div {
    display: none;
  }

  .checkout-bottom-fixed {
    display: flex;
  }
}








.loginbtn, .loginbtn:hover{
  text-decoration: none;
  color: #000000;
}
.cont {
  max-width: 1600px;
  margin: auto;
}

#navTop {
  display: none;
  background-color: #eeeeee;
}
@media (min-width:1200px)  {
  #navTop{
    display: block;
  }
}
.cont.navTop {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  align-items: center;
  font-size: 10px;
}
#navTop div {
  display: flex;
  gap: 10px;
  padding: 3px;
  justify-content: space-around;
  align-items: center;
}
#navTop div p {
  margin: 0px;
  
}
#mar{
  margin:0px
}
#navMid {
  padding: 10px 10px ; 
  display: flex;
  justify-content: space-between;  
 
}
#bdr{
  border-bottom: 1px solid rgb(163, 162, 162);
}
#navMid div:nth-of-type(1){
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  
}
#navMid div:nth-of-type(2){
  display: flex;
  align-items: center;
  gap:20px;


}
.cont {
  text-align: center;
}


.navMid img{
  width: 160px;
}

.nav-icon {
  height: 20px;
}
/* Search box styling */
#searchCon {
  padding: 1px 15px;
  border-radius: 5px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
}
#serachicon {
  color: grey;
  height: 23px;
  justify-content: center;
}
#serachicon + input {
  background-color: #eaeaea;
  border: none;
}

/* Dropdown Button */
button.dropbtn {
  background-color: #ffffff;
  padding: 16px;
  margin-bottom: 0px;
  font-size: 16px;
  border: none;
}