body {
  margin: 0px;
  padding: 0px;
}
.cont {
  max-width: 1600px;
  margin: auto;
}

#navTop {
  background-color: #eeeeee;
}
.cont.navTop {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  align-items: center;
  font-size: 10px;
}
#navTop div {
  display: flex;
  gap: 10px;
  padding: 3px;
  justify-content: space-around;
  align-items: center;
}
#navTop div p {
  margin: 0px;
}
#navMid {
  border-bottom: 1px solid rgb(163, 162, 162);
}
.navMid {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navMid > div:nth-of-type(2) {
  gap: 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
#navEnd {
  display: flex;
  gap: 40px;
  padding: 20px;
  font-size: 20px;
  overflow: hidden;
  justify-content: space-between;
}
.nav-icon {
  height: 20px;
}
/* Search box styling */
#searchCon {
  padding: 10px;
  border-radius: 5px;
  background-color: #eaeaea;
}
#serachicon {
  color: grey;
  height: 23px;
  justify-content: center;
}
#serachicon + input {
  background-color: #eaeaea;
  border: none;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown1,
.dropdown2,
.dropdown3 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown1-content,
.dropdown2-content,
.dropdown3-content {
  display: none;
  position: absolute;
  margin-top: 11px;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 5;
}

/* Links inside the dropdown */
.dropdown1-content a,
.dropdown2-content a,
.dropdown3-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown1-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown1-content,
.dropdown2:hover .dropdown2-content,
.dropdown3:hover .dropdown3-content {
  display: block;
}
/* First carousal */
.carousel-control-next {
  height: 300px;
  margin-top: 100px;
}
.carousel-control-prev {
  height: 300px;
  margin-top: 100px;
}

.carousel-item img {
  width: 32.9%;
}
#carousel-item{
    display: flex;
}

#first_Category {
  display: flex;
  padding-bottom: 50px;
}
#first_Category div {
  width: 14%;
}
#first_Category img {
  width: 100%;
}
#bnr1 {
  width: 100%;
}
.cont {
  text-align: center;
}

/* TRENDING CATEGORIES SECTION---------------------------------------------------*/
#trendCategories {
  text-align: center;
  max-width: 1980px;
  margin: auto;
}
#trendCategories img {
  width: 16.5%;
  min-width: 200px;
}

/* Toooo HOT--------------------------------------------------------------- */
#tooHotCont {
  max-width: 1920px;
  text-align: center;
}
#tooHot {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#tooHot img {
  width: 100%;
}
/*  Best picks------------------------------------------------------------------------ */
#bestPicksCont {
  max-width: 1920px;
  text-align: center;
  margin:auto;
}
#bestPicks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#bestPicks img {
  width: 100%;
}
/* categoriesBag-------------------------- */
#categoriesBag {
  text-align: center;
  max-width: 1980px;
  margin: auto;
}
#categoriesBag img {
  width: 16.5%;
  min-width: 200px;
}
/* carousal---------------------------------- */
#carousal_btm{
    max-width: 1960px;
    margin: auto;
    display: flex;
}
#carousal_btm img{
    width: 33%;

}
/* TOP accessories --------------------------- */
#topAccCont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

