body {
  margin: 0px;
  padding: 0px;
}
.loginbtn{
  color: #000000;
}
.loginbtn:hover{
  text-decoration: none;
  color: #000000;
}
.cont {
  max-width: 1600px;
  margin: auto;
}

#navTop {
  display: none;
  background-color: #eeeeee;
}
@media (min-width:1200px)  {
  #navTop{
    display: block;
  }
}
.cont.navTop {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  align-items: center;
  font-size: 10px;
}
#navTop div {
  display: flex;
  gap: 10px;
  padding: 3px;
  justify-content: space-around;
  align-items: center;
}
#navTop div p {
  margin: 0px;
  
}
#mar{
  margin:0px
}
#navMid {
  padding: 10px 10px ; 
  display: flex;
  justify-content: space-between;  
 
}
#bdr{
  border-bottom: 1px solid rgb(163, 162, 162);
}
#navMid div:nth-of-type(1){
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  
}
#navMid div:nth-of-type(2){
  display: flex;
  align-items: center;
  gap:20px;


}


.navMid img{
  width: 160px;
}
#navEnd {
  display: none;
  display: flex;
  gap: 40px;
  padding-top: 10px;
  font-size: 16px;
  overflow: hidden;
  justify-content: space-between;
}
.nav-icon {
  height: 20px;
}
/* Search box styling */
#searchCon {
  padding: 10px;
  border-radius: 5px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
}
#serachicon {
  color: grey;
  height: 23px;
  justify-content: center;
}
#serachicon + input {
  background-color: #eaeaea;
  border: none;
}

/* Dropdown Button */
button.dropbtn {
  background-color: #ffffff;
  padding: 16px;
  margin-bottom: 0px;
  font-size: 16px;
  border: none;
}

/* First carousal */
.carousel-control-next {
  height: 300px;
  margin-top: 100px;
}
.carousel-control-prev {
  height: 300px;
  margin-top: 100px;
}

.carousel-item img {
  width: 32.9%;
}
#carousel-item{
    display: flex;
}

#first_Category {
  display: flex;
  padding-bottom: 50px;
}
#first_Category div {
  width: 14%;
}
#first_Category img {
  width: 100%;
}
#bnr1 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cont {
  text-align: center;
}

/* TRENDING CATEGORIES SECTION---------------------------------------------------*/
#trendCategories {
  text-align: center;
  max-width: 1980px;
  margin: auto;
}
#trendCategories img {
  width: 16.5%;
  min-width: 200px;
}

/* Toooo HOT--------------------------------------------------------------- */
#tooHotCont {
  max-width: 1920px;
  text-align: center;
}
#tooHot {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#tooHot img {
  width: 100%;
}
/*  Best picks------------------------------------------------------------------------ */
#bestPicksCont {
  max-width: 1920px;
  text-align: center;
  margin:auto;
}
#bestPicks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#bestPicks img {
  width: 100%;
}
/* categoriesBag-------------------------- */
#categoriesBag {
  text-align: center;
  max-width: 1980px;
  margin: auto;
}
#categoriesBag img {
  width: 16.5%;
  min-width: 200px;
}
/* carousal---------------------------------- */
#carousal_btm{
    max-width: 1960px;
    margin: auto;
    display: flex;
}
#carousal_btm img{
    width: 33%;

}
/* TOP accessories --------------------------- */
#topAccCont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Besteseller ----------------------------------*/
#bestseller{
  max-width: 1960px;
  margin: auto;
  text-align: center
  
}
.priceCont p{
  text-decoration: line-through;
}
.priceCont h5{
  color: rgb(43, 201, 43);
}
#best1 , #best2,#best3{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.cardCont{
    border: 1px solid rgb(183, 183, 183);
    width: 20%;
    margin: 20px;
    text-align: start ;
}
.cardCont img{
    width: 100%;

}

.priceCont{
    display: flex;
}


@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Micro+5&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Shojumaru&family=Sixtyfour:BLED@0..100&family=ZCOOL+KuaiLe&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family:"Montserrat", sans-serif;
}

footer{
    width: 100%;
    height: auto;
    background-color: #181818;
    color: white;
    font-size: 14px;
    padding-top: 80px;
    padding-bottom: 30px;
}
.footer-logo{
    color: rgb(253, 216, 53);
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 80px; */
    margin-bottom: 10px;
    cursor: pointer;
}
#footer-item{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: "customer company contract keepup"
                         "return download payment .";
    justify-content: space-between;
}
.f-list-1{
    grid-area: a;
    grid-area: customer;
}
.f-list-2{
    grid-area: b;
    grid-area: company;
}
.f-list-3{
    grid-area: c;
    grid-area: contract;
}
.f-list-4{
    grid-area: d;
    grid-area: keepup;
}
.f-list-5{
    grid-area: e;
    grid-area: return;
    margin-top: 10px;
}
.f-list-6{
    grid-area: f;
    grid-area: download;
    margin-top: 10px;
}
.f-list-7{
    grid-area: g;
    grid-area: payment;
    margin-top: 10px;
}
.f-list{
    list-style-type: none;
    max-width: 300px;
}
.f-list>li{
    cursor: pointer;
}
.f-list>li:nth-child(1){
    color: rgb(253, 216, 53);
    margin-bottom: 25px;
    font-size: 13px;
}

.f-list-1>li:nth-child(2){
    margin-bottom: 5px;
}
.f-list-1>li:nth-child(3){
    margin-bottom: 5px;
}
.f-list-1>li:nth-child(4){
    margin-bottom: 5px;
}
.f-list-1>li:nth-child(6){
    margin-top: 65px;
    margin-bottom: 25px;

}
.f-list-1>li:nth-child(6)>i{
    margin-right: 20px;
}
.f-list-1>li:nth-child(7)>i{
    margin-right: 27px;
}
.f-list-2>li:nth-child(2){
    margin-bottom: 5px;
}
.f-list-2>li:nth-child(3){
    margin-bottom: 5px;
}
.f-list-2>li:nth-child(4){
    margin-bottom: 5px;
}
.f-list-2>li:nth-child(5){
    margin-bottom: 5px;
}
.f-list-2>li:nth-child(7){
    margin-top: 40px;
    color: rgb(253, 216, 53);
    margin-bottom: 35px;
}
.f-list-3>li:nth-child(5){
    margin-top: 50px;
    color: rgb(253, 216, 53);
    margin-bottom: 30px;
}
.f-list-3>li:nth-child(2),:nth-child(3),:nth-child(4){
    margin-bottom: 15px;
}
.f-list-3>li:nth-child(2)>i{
    margin-right: 7px;
}
.f-list-3>li:nth-child(3)>i{
    margin-right: 7px;
}
.f-list-3>li:nth-child(4)>i{
    margin-right: 20px;
    font-size: 18px;
}

.f-list-4>:nth-child(2)>input{
    padding: 8px 1px 8px 1px;
    max-width: 120px;
    border-top: 1px solid black;
    border-left: none;
    border-right: 0px solid;
    border-bottom: 0px solid;
    border-bottom: 2px solid rgb(253, 216, 53);
    background-color:#181818;
    cursor: pointer;
}
.f-list-4>:nth-child(2)>button{
    background-color: rgb(253, 216, 53);
    border: none;
    padding: 8px 20px 10px 20px;
    margin-left: -3px;
}
.f-list-5>li:nth-child(1){
    color: white;
}
.f-list-6>li:nth-child(2)>img{
    width: 110px;
    margin-left: 3px;
}

#footer-bar{
    margin: 30px;
    width: 80%;
    height: 1px;
    border-bottom: 3px solid #878787;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:1213px){
    .f-list-4>:nth-child(2)>input{
        padding: 8px 1px 8px 1px;
        max-width: 110px;
    }
    .f-list-4>:nth-child(2)>button{
        padding: 8px 15px 10px 15px;
    }
}
@media (max-width:1109px){
    .f-list-4>:nth-child(2)>input{
        padding: 8px 4px 8px 1px;
        max-width: 95px;
    }
    .f-list-4>:nth-child(2)>button{
        padding: 8px 11px 10px 11px;
    }
}
@media (max-width:1020px){
    #footer-item{
        width: 95%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        /* display: grid; */
        grid-template-areas: "customer company"
                             "contract keepup"
                             "return download"
                             "payment .";
        justify-content: space-between;
    }
    .footer-logo{
        width: 95%;
        font-weight: 700;
    }
    /* .f-list{
    }
     */
}
