
@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Micro+5&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Shojumaru&family=Sixtyfour:BLED@0..100&family=ZCOOL+KuaiLe&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family:"Montserrat", sans-serif;
}
#product-page{
    width: 100%;
    height: auto;
    /* border: 2px solid blue; */
}
#product-path{
    width: 66%;
    height: 40px;
    /* border: 1px solid greenyellow; */
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
#product-path>a{
    font-size: 14px;
    line-height: 12px;
    color: rgb(45, 45, 45);
}
#product-details{
    width: 76%;
    min-height: 600px;
    /* border: 2px solid red; */
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 18px;
    display: grid;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#p-image-showcase-container{
    width: 450px;
    height: 600px;
    /* border: 2px solid green; */
}
#p-image-showcase-container>img{
    width: 100%;
    height: 100%;
}
#p-details{
    width: 527px;
    min-height: 600px;
    /* border: 2px solid brown; */
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;

}
#p-recently-viewed{
    width: 76%;
    min-height: 553px;
    /* border: 2px solid rgb(54, 6, 100); */
    margin-left: auto;
    margin-right: auto;
}
#p-recently-viewed-title{
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}
#p-recently-viewed-container{
    height: 410px;
    /* border:2px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.p-recently-viewed-card{
    width: 255px;
    height: 410px;
    margin-left: 15px;
    margin-right: 15px;
    /* border: 2px solid blue; */
}
.p-recently-viewed-card>img{
    width: 100%;
    margin-bottom: 5px;
}
.p-discounted-price{
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
}
.p-actual-price{
    font-size: 12px;
    line-height: 14px;
    color: rgb(148, 148, 148);
    padding-left: 4px;
    text-decoration: line-through;
}
.rv-rating{
    width: 50px;
    text-align: center;
    padding: 2px 2px 2px 2px;
    border-radius: 50px;
    position: relative;
    top:-50px;
    left:8px;
    background-color: white;
}
.rv-rating>i{
    font-size: 12px;
    margin-right: 3px;
    position: relative;
}


.pd-title{
    color:rgb(79, 83, 98);
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}
.pd-description{
    color: rgb(115, 115, 115);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 18px;
}
.pd-rating{
    width: 54px;
    height: 24px;
    border: 1px solid grey;
    text-align: center;
    background-color: #f7f7f7;
    padding: 3px 5px;
    margin-bottom: 15px;
}
.pd-rating>i{
    font-size: 12px;
    margin-right: 5px;
}
.pd-rating-value{
    font-size: 14px;
}
.pd-price-section{
    list-style-type: none;
    display: flex;
}
.pd-offer-price{
    margin: 2px;
    font-size: 20px;
    font-weight: 700;
}
.pd-actual-price{
    margin: 3px;
    text-decoration: line-through;
    color: #949494;
    font-size: 16px;
}
.pd-discount-percentage{
    margin: 4px;
    font-size: 20px;
    color: #00b852;
    font-weight: 500;
}

.pd-tax-message{
    color: #949494;
    font-size: 12px;
}
.pd-fit-quality{
    list-style-type: none;
    display: flex;
    margin-top: 20px;
}
.pd-fit{
    background-color: #33c675;
    color: white;
    font-weight: 600;
    padding: 1px 10px 1px 10px;
    text-align: center;
}
.pd-quality{
    border: 1px solid gray;
    color: #898787;
    margin-left: 20px;
    font-weight: 700;
    padding: 1px 10px 2px 10px;
}
.pd-border-1{
    border: 2px solid #eeeeee;
    margin-top: 28px;
}
.pd-discount-message{
    margin-top: 15px;
}
.pd-extra-discount{
    color: rgb(51, 51, 51);
}
.pd-learn-more{
    color: #5eafaf;
    cursor: pointer;
}
.pd-border-2{
    border: 2px solid #eeeeee;
    margin-top: 28px;
}
.pd-size-guide{
    display: flex;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.pd-select-size{

}
.pd-guide{
    color: #71b9b9;
    cursor: pointer;
}

.pd-size-button{
    margin-top: 15px;
}
.pd-size-btn{
    width: 48px;
    height: 48px;
    font-size:14px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}
.pd-size-btn:hover{
    border: 1px solid rgb(66, 162, 162);
}
.pd-size-s{

}
.pd-size-2xl{
    cursor: not-allowed;
    opacity: 0.3;
}
.pd-size-notification{
    margin-top: 30px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.pd-not-find-text{
    color:rgb(66, 162, 162);
    margin: 5px;
    cursor: pointer;
}
.pd-bell-icon{
    font-size: 25px;
    margin: 5px;
    cursor: pointer;
}
.pd-bag-wishlist{
    margin-top: 10px;
}
.pd-add-to-bag-btn{
    margin-right: 10px;
    /* font-weight: 600; */
    font-size: 16px;
    width: 248px;
    height:44px;
    background-color: #ffd84d;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.pd-add-to-wishlist-btn{
    border:1px solid #c1c2c5;
    margin-left: 7px;
    font-size: 16px;
    width: 195px;
    height: 44px;
    cursor: pointer;
    border-radius: 3px;
    background-color: white;
}
.pd-bag-icon{
    margin-right: 8px;
}
.pd-wishlist-icon{
    margin-right: 8px;
}
.pd-add-to-bag-text{
    font-weight: 600;
}
.pd-wishlist-text{
    color: #96989d;
    font-weight: 600;
}
.pd-border-3{
    border: 2px solid #eeeeee;
    margin-top: 28px;
}
@media (max-width:1270px){
    .pd-add-to-bag-btn{
        width: 200px;
        height: 44px;
    }
    .pd-add-to-wishlist-btn{
        width: 170px;
        height: 44px;
    }
}
@media (max-width:1085px){
    .pd-add-to-bag-btn{
        width: 180px;
        height: 44px;
    }
    .pd-add-to-wishlist-btn{
        width: 150px;
        height: 44px;
    }
}
@media (max-width:982px){
    .pd-add-to-bag-btn{
        width: 150px;
        height: 44px;
        font-size: 12px;
    }
    .pd-add-to-wishlist-btn{
        width: 120px;
        height: 44px;
        font-size: 12px;
    }
}
@media (max-width:830px){
    .pd-add-to-bag-btn{
        width: 120px;
        height: 44px;
        font-size: 12px;
    }
    .pd-add-to-wishlist-btn{
        width: 110px;
        height: 44px;
        font-size: 12px;
    }
}
@media (max-width:768px){
    #product-path{
        width: 100%;
        margin-left: 0px;
    }
    
    #product-details{
       flex-direction: column;
       width: 100%;
    }
    #p-image-showcase-container{
        width: 100%;
    }
    #p-details{
        width: 100%;
        margin-top: 45px;
    }
    .pd-add-to-bag-btn{
        width: 248px;
        height: 44px;
    }
    .pd-add-to-wishlist-btn{
        width: 195px;
        height: 44px;
    }
    
}
@media (max-width:540px){
    .pd-add-to-bag-btn{
        width: 180px;
        height: 44px;
    }
    .pd-add-to-wishlist-btn{
        width: 160px;
        height: 44px;
    }
}
@media (max-width:540px){
    .pd-add-to-bag-btn{
        width: 90%;
        height: 44px;
        margin: 20px;
    }
    .pd-add-to-wishlist-btn{
        width: 90%;
        height: 44px;
        margin-left: 20px;
    }
}


/* navbar */
.loginbtn:hover{
    text-decoration: none;
    color: #000000;
  }
  .cont {
    max-width: 1600px;
    margin: auto;
  }
  
  #navTop {
    display: none;
    background-color: #eeeeee;
  }
  @media (min-width:1200px)  {
    #navTop{
      display: block;
    }
  }
  .cont.navTop {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    align-items: center;
    font-size: 10px;
  }
  #navTop div {
    display: flex;
    gap: 10px;
    padding: 3px;
    justify-content: space-around;
    align-items: center;
  }
  #navTop div p {
    margin: 0px;
    
  }
  #mar{
    margin:0px
  }
  #navMid {
    padding: 10px 10px ; 
    display: flex;
    justify-content: space-between;  
   
  }
  #bdr{
    border-bottom: 1px solid rgb(163, 162, 162);
  }
  #navMid div:nth-of-type(1){
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    
  }
  #navMid div:nth-of-type(2){
    display: flex;
    align-items: center;
    gap:20px;
  
  
  }
  
  
  .navMid img{
    width: 160px;
  }
  #navEnd {
    display: none;
    display: flex;
    gap: 40px;
    padding-top: 10px;
    font-size: 16px;
    overflow: hidden;
    justify-content: space-between;
  }
  .nav-icon {
    height: 20px;
  }
  /* Search box styling */
  #searchCon {
    padding: 10px;
    border-radius: 5px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
  }
  #serachicon {
    color: grey;
    height: 23px;
    justify-content: center;
  }
  #serachicon + input {
    background-color: #eaeaea;
    border: none;
  }
  
  /* Dropdown Button */
  button.dropbtn {
    background-color: #ffffff;
    padding: 16px;
    margin-bottom: 0px;
    font-size: 16px;
    border: none;
  }
  .cont {
    text-align: center;
  }